$primaryColor: #333;
$secondColor: #ffffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: $secondColor;
}

.headerTitle{
    background-color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    color: $secondColor;
    align-items: center;
    padding: 10px;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: $primaryColor;
}

.navbarElement{
    background-color: $primaryColor;
    text-decoration: none;
}

.itemListContainer {
    display: flex;
    justify-content: center;
    padding: 393px
}

.iLCgreeting{
    font-size: xx-large;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: $primaryColor;
}

.footertext {
    display: flex;
    justify-content: center;
    background-color: $primaryColor;
    margin-top: auto;
    height: 75px;
    font-size: larger;
    padding: 25px;
    align-items: center;
}